.wheel-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0008;
  opacity: 1;
  transition: 0.3s;

  .menu-button {
    position: relative;
  }

  &--hide {
    opacity: 0;
    pointer-events: none;
  }

  .wheel-menu__position {
    position: absolute;
    left: calc(50vw - 125px / 2);
    top: calc(50vh - 42px);
  }

  &:active {
    .parallelogram--hover {
      svg path {
        fill: #f8f8f8;
      }

      .parallelogram__icon svg path {
        fill: #5c3fff;
      }
    }
  }

  .parallelogram {
    svg path {
      transition: 0.3s;
    }

    &--hover {
      z-index: 1;

      svg path {
        fill: #5c3fff;
      }
    }

    &__icon {
      position: relative;
      z-index: 2;
      color: #f8f8f8;
      display: inline-block;

      svg path {
        fill: #f8f8f8;
      }
    }
  }
}
